.divAppContainer{
  background-color: #003865;
  min-height: 100vh;
}

/* ************************************************ */
/* ************ POUR La TABLE STRAMING *********** */
/* ********************************************** */
.divTableStream{
  /* background: red; */
  margin-bottom: 30px;
}

.divTableStream table{
  width: 100%;
  border-collapse: collapse;
}


.divTableStream thead tr th{
  padding: 15px;
  background: #003865;
  color: #FFF;
}

.divTableStream tbody tr{
  transition: all ease .3s;
}

.divTableStream thead th{
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1px;
}

.divTableStream tbody td{
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 8px;
}

.divTableStream tbody tr{
  background: #D4F6CC; 
}

.divTableStream tbody tr.UDP{
  background: #FFC23C; 
}

.divTableStream tbody tr.TCP{
  background: #F9F5EB; 
}

.divTableStream tbody tr.DNS{
  background: #EB1D36; 
}

.divTableStream tbody tr.IPv4{
  background: #59CE8F; 
}

.divTableStream tbody tr:hover{
  background: #54BAB9;
}


.divTableStream .loader{
  width: 99%;
  position: absolute;
  height: 34vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

p.p-loader{
  color: #F05;
  font-size: 25px;
  letter-spacing: 2px;
}



.cadre-table-scroll {
  display: block;
  height: 40vh;
  overflow-y: scroll;
}
.table-scroll thead th {
  position: sticky;
  top: 0;
}
.table-scroll tfoot td {
  position: sticky;
  bottom: 0;
}


/* ****************************************** */
/* ************ POUR LES GRAPHES *********** */
/* **************************************** */
.divGraphes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0 ;
  padding-bottom: 50px;
  flex-wrap: wrap;
}



.divGraphItem.lineChart{
  flex: 1;
  padding-left: 50px;
  display: flex;
  justify-content: center;
}


.divGraphItem.barChart{
  flex: 1;
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.divGraphItem canvas{
  width: 100%;
  height: 100%;
}






/* ********************************************* */
/* ************ RESPONSIVE TABLETTE *********** */
/* ******************************************* */

@media screen and (max-width: 768px) {
  .divGraphes{
    /* display: none; */
    flex-direction: column  ;
    padding: 20px;
  }


  .divGraphItem.lineChart{
    width: 100%;
    padding-left: 0;
    justify-content: center;
    margin-bottom: 50px;
  }


  .divGraphItem.lineChart img{
    width: 100%;
  }


  .divGeos{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .divGeoItem.divMaps{
    padding-right: 0px ;
  }

  .divTableStream tbody td {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .divTableStream thead th{
    font-size: 15px;
  }
  
}


@media screen and (max-width : 375px) {
  .divGraphItem.barChart{
    width: 100%;
    padding-right: 0px;
  }

  .divGraphItem.barChart img{
    width: 100%;
  }


  .divTableStream tr th:nth-child(2),
  .divTableStream tr td:nth-child(2),
  .divTableStream tr th:nth-child(6),
  .divTableStream tr td:nth-child(6)
  {
    display: none;
  }


}